@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./snow.jpg');
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

.title {
  font-size: 4rem;
  font-weight: 300;
  margin-top: 5rem;
}

.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.big-text {
  font-size: 6rem;
  font-weight: bold;
  line-height: 1;
  margin: 0 2rem;
}

.countdown-container__el {
  text-align: center;
}

.countdown-container__el span {
  font-size: 1.5rem;
}
